* {
    font-family: 'Arial Narrow';
    font-size: 24px;
    font-style: italic;
    background-color: rgb(151, 142, 142);
       
  }   
  <body> 
    font-family: 'Arial Narrow';
    font-size: 48px;
    <body>